<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wildlife Observatation Study</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          #if ($user.getRanger() == false)
            <a class="navbar-brand" href="/sightings">Home</a>
          #else
            <a class="navbar-brand" href="/">Home</a>
          #end
        </div>
        <ul class="nav navbar-nav">
          #if($user.getRanger())
            <li><a href="/rangers/$user.getId()">Manage Sightings</a></li>
            <li><a href="/rangers/$user.getId()/engangeredsighting/new">Add Endangered Animal Sighting</a></li>
            <li><a href="/rangers/$user.getId()/sighting/new">Add Animal Sighting</a></li>
            <li><a href="/animal/new">Add Animal to System</a></li>
          #elseif ($user.getRanger() == false)
          <li><a href="/civilians/$user.getId()">Manage Sightings</a></li>
          <li><a href="/civilians/$user.getId()/engangeredsighting/new">Add Endangered Animal Sighting</a></li>
          <li><a href="/civilians/$user.getId()/sighting/new">Add Animal Sighting</a></li>
          <li><a href="/animal/new">Add Animal to System</a></li>
          #end
        </ul>
        #if($user)
          <p class="navbar-text navbar-right">Signed in as <a href="/rangers/$user.getId()">$user.getName()</a></p><a href="/logout" type="button" class="btn btn-default navbar-btn navbar-right">Sign out</a>
        #end
      </div>
    </nav>
    <div class="jumbotron">
      <h1>Douglas Fir Animal Observation</h1>
    </div>
    <!--begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end inner template-->
  </body>
</html>
